In [26]:
import pandas as pd
import numpy as np

In [5]:
# Creation of Series
s = pd.Series([1,2,3,4,5])

In [91]:
# Converting to list
s = pd.Series([6, 7, 8, 9]).tolist()

In [20]:
x1 = pd.Series([2, 4, 6, 8, 10])
x2 = pd.Series([1, 3, 6, 7, 10])

# Basic Mathematical Operations
add = (x1 + x2)
subtract = (x1 - x2)
multiply = (x1 * x2)
divide = (x1 / x2)

In [21]:
# Boolean Comparison of Series
lte_bool = (x1 <= x2)
gt_bool = x1 > x2

In [27]:
# Panda series from python dictionary
s = pd.Series(
    {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
)

In [37]:
# Numpy array to pandas series
s = np.array([10, 20, 30, 40, 50])
s1 = pd.Series(s2)

In [54]:
# Data type conversion
s = pd.Series(['100', '200.232', 'python', '300.12', '400'])
s1 = pd.to_numeric(s, errors='coerce') 
# errors='raise' is default option
# errors='ignore' will ignore the error values

In [86]:
# Converting first column of df into series
d = pd.DataFrame({
    'col1': [1, 2, 3, 4, 7, 11], 
    'col2': [4, 5, 6, 9, 5, 0], 
    'col3': [7, 5, 8, 12, 1,11]
})

# : for selecting entire axis (row, column)
d.iloc[:, 0]

In [104]:
# Series to python list
s = pd.Series(['100', '200.232', 'python', '300.12', '400'])
s.values # numpy array
s.tolist() # python list

In [130]:
# Series of list into one Series
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']]
)
s = s.apply(pd.Series).stack().reset_index(drop=True)
# Alternative with explode
s = s.explode().reset_index(drop=True)

In [129]:
# Merging multiple series into one series
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])

s3 = pd.concat([s1, s2], ignore_index=True)

In [138]:
# Sorting the series 
s = pd.Series(['100', '200.232', 'python', '300.12', '400'])
s1 = s.sort_values()
s2 = s.sort_values(ascending=False)

In [141]:
# Adding or appending values to existing series  
s = pd.Series(['100', '200.232', 'python', '300.12', '400'])
s1 = pd.concat([s, pd.Series([500, 'java'])], ignore_index=True)

In [150]:
# Subset based on condition
s = pd.Series([1, 2, 3, 4, 5])
s[s < 4]

In [158]:
# Changing the order of index
s = pd.Series([1, 2, 3, 4, 5])
s.reindex([0, 4, 3, 2, 1])

s1 = pd.Series(data=[1,2,3,4,5], index=['A', 'B', 'C','D','E'])
s1.reindex(index=['B','A','C','D','E'])

In [165]:
# Mean and Standard deviation of series
s = pd.Series([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
display("Mean of series") 
display(s.mean())
display("Standard Deviation of series")
display(s.std())

'Mean of series'

4.5

'Standard Deviation of series'

3.0276503540974917

In [173]:
# Series not present in another series
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([2, 4, 6, 8, 10])

s3 = s1[~s1.isin(s2)]
# DataFrame.isin(values)
# Whether each element in the DataFrame is contained in values.

In [188]:
# Series not present in another series
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([2, 4, 6, 8, 10])

s3 = s1[~s1.isin(s2)]
s4 = s2[~s2.isin(s1)]
s5 = pd.concat([s3, s4])

# Using numpy
s6 = pd.Series(np.union1d(s1, s2))
s7 = pd.Series(np.intersect1d(s1, s2))
s8 = s6[~s6.isin(s7)]

In [200]:
# Computing different percentage
s1 = pd.Series([3.000938, 11.370722, 14.612143, 8.990256, 13.925283, 12.056875, 10.884719, 5.719827, 9.242017, 11.020006, 8.167892, 11.740654, 7.665620, 13.267388, 12.690883, 9.582355, 7.874878, 14.118931, 8.247458, 5.526727])

# Using pandas percentile method
result = [s1.min(), s1.quantile(0.25), s1.median(), s1.quantile(0.75), s1.max()]

# Using numpy percentile method
result = np.percentile(s1, q=[0, 25, 50, 75, 100])

In [240]:
# Frequency counts of each unique value of series
s1 = pd.Series(np.take(list('0123456789'), np.random.randint(10, size=40)))
# s1 = pd.Series(np.random.randint(0, 10, size=40))

# By using pandas groupby and count
result = s1.groupby(s1).count()

# By using numpy value_counts method
result = s1.value_counts()

In [352]:
# Highest Frequency and others
s1 = pd.Series(np.random.randint(0, 10, size=40))

# Using numpy value_counts, isin and index
# s2 = s1.value_counts()
# s1[~s1.isin(s2.index[:1])] = 'Other'

# Using pandas mode (most often)
max_freq = s1.mode().iloc[0]

s1[s1 != max_freq] = 'Other'

C:\Users\zeesh\AppData\Local\Temp\ipykernel_2112\1325288836.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Other' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  s1[s1 != max_freq] = 'Other'

In [378]:
# Mutiple of 5 positions in series
s1 = pd.Series(np.random.randint(0, 26, size=40))

# pandas method
s2 = s1[s1 % 5 == 0].index

# Numpy way
s3 = np.where(s1 % 5 == 0)

In [388]:
# 
positions = [0, 2, 11, 21]
s1 = pd.Series(np.random.randint(0, 10, size=25))
result = s1.take(positions)